TLS_CA_FILE=/etc/pki/tls/certs/ca-bundle.crt
root=zabbix.humayun@gmail.com
mailhub=smtp.gmail.com:465
FromLineOverride=YES
AuthUser=zabbix.humayun@gmail.com
AuthPass='$6$Ig2EUhGtcmy0lV.v$yqTdqybQMbqtKnP0HZlKQgkLYzYOp2Hasi2Ic.Y95IXVvC3oL9WHtWbOKbelFSO4OW42ZanMtTlKFsCLanDyb.'
UseTLS=YES
hostname={{inventory_hostname}}



