TLS_CA_FILE=/etc/pki/tls/certs/ca-bundle.crt
root=zabbix.humayun@gmail.com
mailhub=smtp.gmail.com:465
FromLineOverride=YES
AuthUser=zabbix.humayun@gmail.com
AuthPass={{gmail_pass}}
UseTLS=YES
hostname={{inventory_hostname}}



